div
    div(ng-hide='$root.hideHeader()')
        .survey-header
            // user block
            table.survey-header-option
                tr
                    td(rowspan=2)
                        .wallonie_logo
                    td(rowspan=2)
                        a.awac_logo(href="http://www.awac.be", target="_blank")
                    td.wide.align-left
                        .calculateur_type(ng-bind-html='\'TITLE_VERIFICATION\' | translate')

                    td
                        div
                            select(ng-options='l.value as l.label for l in $root.languages', ng-model='$root.language')
                    td
                        div(ng-bind-html="'SURVEY_INTERFACE_MANAGEMENT' | translate")
                    td
                        div(ng-show='$root.currentPerson!=null')
                            span(ng-bind-html='\'WELCOME\' | translate')
                            | ,
                            span.username {{$root.currentPerson.firstName}} {{$root.currentPerson.lastName}}
                        div(ng-show='$root.currentPerson==null') Your are currently not connected

                tr
                    td
                        .entreprise_name {{ $root.organizationName }}

                    td
                        button.button.help(
                        type='button',
                        ng-bind-html="'SURVEY_INTERFACE_ASSISTANCE' | translate",
                        ng-click="$root.showHelp()"
                        )
                    td
                        //  organization manager button
                        button.button.user_manage(
                        type='button',
                        ng-bind-html='\'ORGANIZATION_MANAGER_BUTTON\' | translate',
                        ng-click='isDisabled || $root.nav(\'/organization_manager\')',
                        ng-class='{\'selected\': isMenuCurrentlySelected(\'/organization_manager\') == true}',
                        ng-disabled='$root.currentPerson.isAdmin === false')
                        // user manager button
                        button.button.user_manage(
                        type='button',
                        ng-bind-html='\'USER_MANAGER_BUTTON\' | translate',
                        ng-click='isDisabled || $root.nav(\'/user_manager\')',
                        ng-class='{\'selected\': isMenuCurrentlySelected(\'/user_manager\') == true}',
                        ng-disabled='$root.currentPerson.isAdmin === false')
                    td
                        //  user data button
                        button.button.user_manage(type='button', ng-bind-html='\'USER_DATA_BUTTON\' | translate', ng-click='$root.nav(\'/user_data\')', ng-class='{\'selected\': isMenuCurrentlySelected(\'/user_data\') == true}')
                        // logout button
                        button.button.user_manage(ng-show='$root.currentPerson!=null', type='button', ng-click='$root.logout();', ng-bind-html='\'LOGOUT_BUTTON\' | translate')

        .verification-menu-background
            div.verification-menu
                button.button(
                type="button",
                ng-click='isDisabled || $root.nav(\'/manage\')',
                ng-class='{\'selected\': isMenuCurrentlySelected(\'/manage\') == true}',
                ng-disabled="$root.currentPerson.isAdmin !== true",
                ng-bind-html='\'VERIFICATION_SURVEY_MANAGE\' | translate')
                button.button(
                type="button",
                ng-click='isDisabled || $root.nav(\'/verification\')',
                ng-class='{\'selected\': isMenuCurrentlySelected(\'/verification\') == true}',
                ng-bind-html='\'VERIFICATION_SURVEY_VERIF\' | translate')
                button.button(
                type="button",
                ng-click='isDisabled || $root.nav(\'/submit\')',
                ng-class='{\'selected\': isMenuCurrentlySelected(\'/submit\') == true}',
                ng-disabled="$root.currentPerson.isAdmin !== true && $root.currentPerson.isMainVerifier !== true",
                ng-bind-html='\'VERIFICATION_SURVEY_SUBMIT\' | translate')
                button.button(
                type="button",
                ng-click='isDisabled || $root.nav(\'/archive\')',
                ng-class='{\'selected\': isMenuCurrentlySelected(\'/archive\') == true}',
                ng-bind-html='\'VERIFICATION_SURVEY_ARCHIVE\' | translate')



    div(class="{{getClassContent()}}",ng-view)
    .footer
