.loginBackground
    .router-bar
        .awac_logo
        h1(ng-show="$root.instanceName == 'enterprise'", ng-bind-html="'TITLE_ENTERPRISE' | translate")
        h1(ng-show="$root.instanceName == 'municipality'", ng-bind-html="'TITLE_MUNICIPALITY' | translate")
        h1(ng-show="$root.instanceName == 'household'", ng-bind-html="'TITLE_HOUSEHOLD' | translate")
        h1(ng-show="$root.instanceName == 'event'", ng-bind-html="'TITLE_EVENT' | translate")
        h1(ng-show="$root.instanceName == 'littleEmitter'", ng-bind-html="'TITLE_LITTLE_EMITTER' | translate")
        h1(ng-show="$root.instanceName == 'verification'", ng-bind-html="'TITLE_VERIFICATION' | translate")
        h1(ng-show="$root.instanceName == 'admin'", ng-bind-html="'TITLE_ADMIN' | translate")

    .loginFrame(ng-enter="enterEvent()")
        select(ng-options="l.value as l.label for l in $root.languages",ng-model="$root.language",style="float:right")
        tabset
            tab.tab-color-lightgreen(active="tabActive[0]")
                tab-heading
                    span(ng-bind-html="'LOGIN_CONNECTION' | translate")
                div
                    div(class="field_form")
                        form(id="loginForm",action='',method='post')
                            mm-awac-modal-field-text(ng-info="loginInfo")
                            mm-awac-modal-field-text(ng-info="passwordInfo")


                    div(ng-hide="isLoading === true")

                        button.button(
                            type="button",
                            class="btn btn-primary",
                            ng-bind-html="'LOGIN_BUTTON' | translate",
                            ng-click="send({anonymous:false})",
                            ng-disabled="!connectionFieldValid()")

                        button.button(
                            ng-show="$root.instanceName == 'littleEmitter' || $root.instanceName == 'household'",
                            ng-disabled="connectionFieldValid()",
                            type="button",
                            class="btn btn-primary",
                            ng-bind-html="'LOGIN_ANONYMOUS_BUTTON' | translate",
                            ng-click="send({anonymous:true})")


                    img(ng-show="isLoading === true",src="/assets/images/modal-loading.gif")



            tab.tab-color-lightgreen(active="tabActive[1]", ng-show="true")
                tab-heading
                    span(ng-bind-html="'LOGIN_FORGOT_PASSWORD' | translate")
                div
                    div(ng-show="forgotEmailSuccessMessage!=null", class="forgot_password_success_message") {{forgotEmailSuccessMessage}}

                    div(ng-hide="forgotEmailSuccessMessage!=null")
                        div(ng-bind-html="'LOGIN_FORGOT_PASSWORD_DESC' | translate")

                        div(class="field_form")
                            mm-awac-modal-field-text(ng-info="forgotPasswordInfo")

                        div(ng-hide="isLoading === true")

                            button.button(
                                type="button",
                                class="btn btn-primary",
                                ng-bind-html="'SUBMIT' | translate",
                                ng-click="sendForgotPassword()",
                                ng-disabled="!forgotPasswordFieldValid()")

                        img(ng-show="isLoading === true",src="/assets/images/modal-loading.gif")



            tab.tab-color-lightgreen(active="tabActive[2]", ng-show="$root.instanceName != 'verification' && $root.instanceName != 'admin'")
                tab-heading
                    span(ng-bind-html="'LOGIN_REGISTRATION' | translate")
                div.inject-registration-form
