div.results.pdf-able
    h1
        span(ng-bind-html="'RESULTS' | translate")

    table.wide
        tr
            td.top-aligned
                .sites-panel(ng-hide="$root.instanceName == 'municipality' || $root.instanceName == 'household' || $root.instanceName == 'littleemitter'")
                    .sites-panel-title
                        span(ng-bind-html="($root.instanceName == 'event' ? 'EVENTS_LIST' : 'SITES_LIST') | translate")

                    //
                        .sites-panel-all-items
                            table
                                tr
                                    td
                                        span(ng-bind-html="'ALL_SITES_SELECTED' | translate")
                                    td
                                        input(type="checkbox")

                    .sites-panel-items
                        .sites-panel-item
                            table
                                tr(ng-repeat="site in mySites")
                                    td {{ site.name }}
                                    td
                                        input(type="checkbox", ng-model="site.selected")

                .sites-panel(ng-hide="$root.instanceName == 'household' || $root.instanceName == 'event' || $root.instanceName == 'littleemitter'")
                    .sites-panel-title
                        span(ng-bind-html="'SURVEY_INTERFACE_VERIFICATION' | translate")

                    .sites-panel-item(ng-show="verificationRequests.length> 0 ")
                        table
                            tr(ng-repeat="verificationRequest in verificationRequests")
                                td {{ verificationRequest.scope.name }}
                                td
                                    button.button(type="button", ng-click="downloadVerificationReport(verificationRequest)",ng-show="getVerificationRequestStatus() === 'VERIFICATION_STATUS_VERIFIED'")
                                        span(ng-bind-html="'DOWNLOAD_VERIFICATION_REPORT' | translate")

            td.top-aligned.horizontally-padded.wide

                div(ng-show="o != null && o != undefined")

                    div(ng-show="o.reportDTOs.R_1.rightPeriod == null")
                        span(ng-bind-html="'ACCOMPANIMENT_WORD_ENTERPRISE' | translateWithVars:[(leftTotalEmissions | numberToI18N)]", ng-show="$root.instanceName == 'enterprise'")
                        span(ng-bind-html="'ACCOMPANIMENT_WORD_MUNICIPALITY' | translateWithVars:[(leftTotalEmissions | numberToI18N)]", ng-show="$root.instanceName == 'municipality'")

                    div(ng-hide="o.reportDTOs.R_1.rightPeriod == null")
                        span(ng-bind-html="'ACCOMPANIMENT_COMPARISION_WORD_ENTERPRISE' | translateWithVars:[(leftTotalEmissions | numberToI18N),o.reportDTOs.R_1.leftPeriod,(rightTotalEmissions | numberToI18N),o.reportDTOs.R_1.rightPeriod]", ng-show="$root.instanceName == 'enterprise'")
                        span(ng-bind-html="'ACCOMPANIMENT_COMPARISION_WORD_MUNICIPALITY' | translateWithVars:[(leftTotalEmissions | numberToI18N),o.reportDTOs.R_1.leftPeriod,(rightTotalEmissions | numberToI18N),o.reportDTOs.R_1.rightPeriod]", ng-show="$root.instanceName == 'municipality'")

                    br
                    br

                    div(ng-show="siteSelectionIsEmpty()")

                        div(ng-bind-html="'SELECT_AT_LEAST_ONE_SITE' | translate")

                    div(ng-hide="siteSelectionIsEmpty()")

                        div(ng-show="current_tab == 1")
                            h2
                                span(ng-bind-html="'VALUES_BY_CATEGORY' | translate")
                            br

                            center
                                .diagram(style="height: 10cm", ng-bind-html="o.svgHistograms.R_1 | trustAsHtml")

                            br

                            center
                                div
                                    mm-awac-result-legend(ng-model="o.reportDTOs.R_1", mode="numbers")

                        div(ng-show="current_tab == 2")
                            h2
                                span(ng-bind-html="'IMPACTS_PARTITION' | translate")
                            br

                            center
                                table(ng-show="$root.instanceName == 'household' || $root.instanceName == 'event' || $root.instanceName == 'littleemitter' ")
                                    tr
                                        td
                                            .diagram(style="display:inline-block; max-width: 5cm; max-height: 5cm;", ng-bind-html="o.leftSvgDonuts.R_1 | trustAsHtml")
                                            span &nbsp;
                                            .diagram(ng-show="rightTotalEmissions>0", style="display:inline-block; max-width: 5cm; max-height: 5cm;", ng-bind-html="o.rightSvgDonuts.R_1 | trustAsHtml")
                                        td(style="width: 2em")
                                        td
                                            mm-awac-result-legend(ng-model="o.reportDTOs.R_1")





                            table(ng-hide="$root.instanceName == 'household' || $root.instanceName == 'event' || $root.instanceName == 'littleemitter'")
                                tr
                                    td(colspan="3")
                                        h3
                                            span(ng-bind-html="'SCOPE_1' | translate")
                                            span  : {{ leftTotalScope1 | numberToI18N }} tCO2e
                                            span &nbsp;/&nbsp;
                                            span  {{ rightTotalScope1 | numberToI18N }} tCO2e
                                tr
                                    td
                                        .diagram(style="display:inline-block; max-width: 5cm; max-height: 5cm;", ng-bind-html="o.leftSvgDonuts.R_2 | trustAsHtml")
                                        span &nbsp;
                                        .diagram(ng-show="rightTotalEmissions>0", style="display:inline-block; max-width: 5cm; max-height: 5cm;", ng-bind-html="o.rightSvgDonuts.R_2 | trustAsHtml")
                                    td(style="width: 2em")
                                    td
                                        mm-awac-result-legend(ng-model="o.reportDTOs.R_2")

                                tr
                                    td(colspan="3")
                                        h3
                                            span(ng-bind-html="'SCOPE_2' | translate")
                                            span  : {{ leftTotalScope2 | numberToI18N }} tCO2e
                                            span &nbsp;/&nbsp;
                                            span  {{ rightTotalScope2 | numberToI18N }} tCO2e
                                tr
                                    td
                                        .diagram(style="display:inline-block; max-width: 5cm; max-height: 5cm;", ng-bind-html="o.leftSvgDonuts.R_3 | trustAsHtml")
                                        span &nbsp;
                                        .diagram(ng-show="rightTotalEmissions>0",style="display:inline-block; max-width: 5cm; max-height: 5cm;", ng-bind-html="o.rightSvgDonuts.R_3 | trustAsHtml")
                                    td(style="width: 2em")
                                    td
                                        mm-awac-result-legend(ng-model="o.reportDTOs.R_3")

                                tr
                                    td(colspan="3")
                                        h3
                                            span(ng-bind-html="'SCOPE_3' | translate")
                                            span  : {{ leftTotalScope3 | numberToI18N }} tCO2e
                                            span &nbsp;/&nbsp;
                                            span  {{ rightTotalScope3 | numberToI18N }} tCO2e
                                tr
                                    td
                                        .diagram(style="display:inline-block; max-width: 5cm; max-height: 5cm;", ng-bind-html="o.leftSvgDonuts.R_4 | trustAsHtml")
                                        span &nbsp;
                                        .diagram(ng-show="rightTotalEmissions>0",style="display:inline-block; max-width: 5cm; max-height: 5cm;", ng-bind-html="o.rightSvgDonuts.R_4 | trustAsHtml")
                                    td(style="width: 2em")
                                    td
                                        mm-awac-result-legend(ng-model="o.reportDTOs.R_4")

                            br
                            br

                        div(ng-show="current_tab == 3")
                            h2
                                span(ng-bind-html="'KIVIAT_DIAGRAM' | translate")
                            br
                            center
                                .diagram(style="display:inline-block; max-width: 15cm; max-height: 15cm;", ng-bind-html="o.svgWebs.R_1 | trustAsHtml")

                            br

                            center
                                mm-awac-result-legend(ng-hide="$root.instanceName == 'household' || $root.instanceName == 'event' || $root.instanceName == 'littleemitter'", ng-model="o.reportDTOs.R_1", mode="numbers")

                                mm-awac-result-legend-simple(
                                ng-show="$root.instanceName == 'household' || $root.instanceName == 'event' || $root.instanceName == 'littleemitter'",
                                ng-model="o.reportDTOs.R_1",
                                ng-ideal="o.idealMap",
                                ng-type="o.typeMap",
                                ng-ideal-color="o.idealColor",
                                ng-type-color="o.typeColor"
                                )

                        div(ng-show="(current_tab == 4) && ($root.instanceName == 'enterprise' || $root.instanceName == 'municipality')")
                            h2
                                span(ng-bind-html="'NUMBERS' | translate")
                            mm-awac-result-table(ng-model="o.reportDTOs.R_1")

                        div(ng-show="(current_tab == 4) && ($root.instanceName == 'household' || $root.instanceName == 'event' || $root.instanceName == 'littleemitter')")
                            h2
                                span(ng-bind-html="'NUMBERS' | translate")
                            mm-awac-result-table-simple(ng-model="o.reportDTOs.R_1", ng-type-map="o.typeMap", ng-ideal-map="o.idealMap", ng-type-color="o.typeColor", ng-ideal-color="o.idealColor")

                        div(ng-show="current_tab == 5")
                            h2
                                span(ng-bind-html="'COMPARISION_WITH_CONSTANT_EMISSION_FACTORS' | translate")
                                span &nbsp;(
                                span(ng-bind-html="'USED_EMISSION_FACTORS' | translate")
                                span :&nbsp;
                                span {{ o.reportDTOs.R_1.rightPeriod }}
                                span )
                            br
                            center
                                .diagram(style="height: 10cm", ng-bind-html="o.svgHistogramsCEF.R_1 | trustAsHtml")
                            br
                            center
                                div
                                    mm-awac-result-legend(ng-model="o.reportCEFDTOs.R_1", mode="numbers")


                        div(ng-show="current_tab == 6")
                            h2
                                span(ng-bind-html="'CALCULUS_EXPLANATION' | translate")
                            br

                            p(ng-show="o.reportDTOs.R_1.rightPeriod != null")
                                span(ng-bind-html="'RESULTS_EXPLANATION_ONLY_AVAILABLE_FOR_SINGLE_PERIOD' | translate")

                            p(ng-hide="o.reportDTOs.R_1.rightPeriod != null", ng-repeat="e in o.logEntries")
                                span(ng-show="e.__type == 'eu.factorx.awac.dto.awac.get.ReportLogContributionEntryDTO'")
                                    span(ng-bind-html="'RESULTS_EXPLANATION_CONTRIB_PART1' | translate")
                                    span &#32;
                                    span(ng-bind-html="e.biActivityCategory | translate")
                                    span &#32;/&#32;
                                    span(ng-bind-html="e.biActivitySubCategory | translate")
                                    span &#32;/&#32;
                                    span(ng-bind-html="e.adActivityType | translate")
                                    span &#32;/&#32;
                                    span(ng-bind-html="e.adActivitySource | translate")
                                    span &#32;
                                    span(ng-bind-html="'RESULTS_EXPLANATION_CONTRIB_PART2' | translate")
                                    span &#32;
                                    span(ng-bind-html="e.adValue | numberToI18NRoundedOrFullIfLessThanOne")
                                    span &#32;
                                    span(ng-bind-html="e.adUnit")
                                    span &#32;
                                    br
                                    span &nbsp;&nbsp;&nbsp;&nbsp;
                                    span(ng-bind-html="'RESULTS_EXPLANATION_CONTRIB_PART3' | translate")
                                    span &#32;
                                    span(ng-bind-html="e.biIndicatorCategory | translate")
                                    span &#32;/&#32;
                                    span(ng-bind-html="e.adActivityType | translate")
                                    span &#32;/&#32;
                                    span(ng-bind-html="e.adActivitySource | translate")
                                    span &#32;
                                    span(ng-bind-html="'RESULTS_EXPLANATION_CONTRIB_PART4' | translate")
                                    span &#32;
                                    span(ng-bind-html="e.fValue | numberToI18NRoundedOrFullIfLessThanOne")
                                    span &#32;
                                    span(ng-bind-html="e.fUnitOut")
                                    span &#32;
                                    span(ng-bind-html="'RESULTS_EXPLANATION_CONTRIB_PART5' | translate")
                                    span &#32;
                                    span(ng-bind-html="e.fUnitIn")
                                    br
                                    span &nbsp;&nbsp;&nbsp;&nbsp;
                                    span(ng-bind-html="'RESULTS_EXPLANATION_CONTRIB_PART6' | translate")
                                    span &#32;
                                    span(ng-bind-html="e.value | numberToI18N")
                                    span &#32;
                                    span(ng-bind-html="e.biUnit")

                                span(style="color: #a33", ng-show="e.__type == 'eu.factorx.awac.dto.awac.get.ReportLogNoSuitableFactorEntryDTO'")
                                    span(ng-bind-html="'RESULTS_EXPLANATION_NOFACTOR_PART1' | translate")
                                    span &#32;
                                    span(ng-bind-html="e.biActivityCategory | translate")
                                    span &#32;/&#32;
                                    span(ng-bind-html="e.biActivitySubCategory | translate")
                                    span &#32;/&#32;
                                    span(ng-bind-html="e.adActivityType | translate")
                                    span &#32;/&#32;
                                    span(ng-bind-html="e.adActivitySource | translate")
                                    span &#32;
                                    span(ng-bind-html="'RESULTS_EXPLANATION_NOFACTOR_PART2' | translate")
                                    span &#32;
                                    span(ng-bind-html="e.adValue | numberToI18NRoundedOrFullIfLessThanOne")
                                    span &#32;
                                    span(ng-bind-html="e.adUnit")
                                    span &#32;
                                    span(ng-bind-html="'RESULTS_EXPLANATION_NOFACTOR_PART3' | translate")
                                    span &#32;
                                    span(ng-bind-html="e.biIndicatorCategory | translate")
                                    span &#32;/&#32;
                                    span(ng-bind-html="e.adActivityType | translate")
                                    span &#32;/&#32;
                                    span(ng-bind-html="e.adActivitySource | translate")
                                    span &#32;
                                    span(ng-bind-html="'RESULTS_EXPLANATION_NOFACTOR_PART4' | translate")

                                span(style="color: #33a", ng-show="e.__type == 'eu.factorx.awac.dto.awac.get.LowerRankInGroupDTO'")

                                    span(ng-bind-html="'RESULTS_EXPLANATION_LOWER_RANK_PART1' | translate")
                                    span &#32;
                                    span(ng-bind-html="e.activityCategory | translate")
                                    span &#32;/&#32;
                                    span(ng-bind-html="e.activitySubCategory | translate")
                                    span &#32;/&#32;
                                    span(ng-bind-html="e.activityType | translate")
                                    span &#32;/&#32;
                                    span(ng-bind-html="e.activitySource | translate")
                                    span &#32;
                                    span(ng-bind-html="'RESULTS_EXPLANATION_LOWER_RANK_PART2' | translate")
                                    span &#32;
                                    span(ng-bind-html="e.value | numberToI18NRoundedOrFullIfLessThanOne")
                                    span &#32;
                                    span(ng-bind-html="e.unit")
                                    span &#32;
                                    span(ng-bind-html="'RESULTS_EXPLANATION_LOWER_RANK_PART3' | translate")

                                span(style="color: #a33", ng-show="e.__type == 'eu.factorx.awac.dto.awac.get.NoSuitableIndicatorDTO'")
                                    span(ng-bind-html="'RESULTS_EXPLANATION_NOINDICATOR_PART1' | translate")
                                    span &#32;
                                    span(ng-bind-html="e.activityCategory | translate")
                                    span &#32;/&#32;
                                    span(ng-bind-html="e.activitySubCategory | translate")
                                    span &#32;/&#32;
                                    span(ng-bind-html="e.activityType | translate")
                                    span &#32;/&#32;
                                    span(ng-bind-html="e.activitySource | translate")
                                    span &#32;
                                    span(ng-bind-html="'RESULTS_EXPLANATION_NOINDICATOR_PART2' | translate")
                                    span &#32;
                                    span(ng-bind-html="e.value | numberToI18NRoundedOrFullIfLessThanOne")
                                    span &#32;
                                    span(ng-bind-html="e.unit")
                                    span &#32;
                                    span(ng-bind-html="'RESULTS_EXPLANATION_NOINDICATOR_PART3' | translate")


                        div(ng-show="current_tab == 7")
                            h2
                                span(ng-bind-html="'USED_EMISSION_FACTORS' | translate")

                        div(ng-show="current_tab == 8")
                            h2
                                span(ng-bind-html="'CONVENTION_OF_MAYORS' | translate")
                            br

                            center
                                .diagram(style="height: 10cm", ng-bind-html="o.svgHistograms.R_5 | trustAsHtml")

                            br

                            center
                                div
                                    mm-awac-result-legend(ng-model="o.reportDTOs.R_5", mode="numbers")


                        br

                        div.results_disclaimer
                            span.results_disclaimer_text(ng-hide="$root.instanceName == 'household' || $root.instanceName == 'event' || $root.instanceName == 'littleemitter'", ng-bind-html="'RESULTS_DISCLAIMER' | translate")
                            span.results_disclaimer_text(ng-show="$root.instanceName == 'household' || $root.instanceName == 'event' || $root.instanceName == 'littleemitter'", ng-bind-html="'RESULTS_DISCLAIMER_SIMPLE' | translate")

                        br
                        br
                        br

            td.top-aligned
                div.align-right
                    button.button(type="button", ng-click="exportXls()", ng-disabled="xlsLoading")
                        img(ng-show="xlsLoading", src="/assets/images/loading_small.gif")
                        span(ng-hide="xlsLoading", ng-bind-html="'XLS_EXPORT' | translate")
                    button.button(type="button", ng-click="exportPdf()", ng-disabled="pdfLoading")
                        img(ng-show="pdfLoading", src="/assets/images/loading_small.gif")
                        span(ng-hide="pdfLoading", ng-bind-html="'PDF_EXPORT' | translate")

                br

                .charts-panel-tabset
                    .charts-panel-tab(ng-click="current_tab = 1", ng-class="{ active: current_tab == 1 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_bars(ng-bind-html="'VALUES_BY_CATEGORY' | translate")

                    .charts-panel-tab(ng-click="current_tab = 2", ng-class="{ active: current_tab == 2 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_donut(ng-bind-html="'IMPACTS_PARTITION' | translate")

                    .charts-panel-tab(ng-click="current_tab = 3", ng-class="{ active: current_tab == 3 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_web(ng-bind-html="'KIVIAT_DIAGRAM' | translate")

                    .charts-panel-tab(ng-click="current_tab = 4", ng-class="{ active: current_tab == 4 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_numbers(ng-bind-html="'NUMBERS' | translate")

                    .charts-panel-tab(ng-click="current_tab = 5", ng-class="{ active: current_tab == 5 }", ng-hide="$root.instanceName == 'household' || $root.instanceName == 'event' || $root.instanceName == 'littleemitter'")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_constant_factors(ng-bind-html="'COMPARISION_WITH_CONSTANT_EMISSION_FACTORS' | translate")

                    .charts-panel-tab(ng-click="current_tab = 6", ng-class="{ active: current_tab == 6 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_calculus(ng-bind-html="'CALCULUS_EXPLANATION' | translate")

                    .charts-panel-tab(ng-show="$root.instanceName == 'municipality'", ng-click="current_tab = 8", ng-class="{ active: current_tab == 8 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_convention(ng-bind-html="'CONVENTION_OF_MAYORS' | translate")

                    //
                        .charts-panel-tab(ng-click="current_tab = 7", ng-class="{ active: current_tab == 7 }")
                            .charts-panel-tab-arrow
                            .charts-panel-tab-title.tab_fe(ng-bind-html="'USED_EMISSION_FACTORS' | translate")


