.menu_close(ng-click="toForm()")
h1(ng-bind-html="'SITE_MANAGER_BUTTON' | translateText")

.element

    table.site_table
        tr.site_table_header
            td(ng-bind-html="'NAME' | translateText")
            td(ng-bind-html="'DESCRIPTION' | translateText")
            td(ng-bind-html="'SITE_MANAGER_NACE_CODE' | translateText")
            td(ng-bind-html="'SITE_MANAGER_ORGANIZATIONAL_STRUCTURE' | translateText")
            td(ng-bind-html="'SITE_MANAGER_ECONOMIC_INTEREST' | translateText")
            td(ng-bind-html="'SITE_MANAGER_OPERATING_POLICY' | translateText")
            td(ng-bind-html="'SITE_MANAGER_ACCOUNTING_TREATMENT' | translateText")
            td(ng-bind-html="'SITE_MANAGER_PERCENT_OWNED' | translateText")
            td(ng-bind-html="'SITE_MANAGER_EDIT_SITE_BUTTON' | translateText")
            td
                select(ng-options='p.key as p.label for p in $root.periods', ng-model='assignPeriod[0]')
            td
                select(ng-options='p.key as p.label for p in $root.periods', ng-model='assignPeriod[1]')

        tr(ng-repeat="site in getSiteList()")
            td {{site.name}}
            td {{site.description}}
            td {{site.naceCode}}
            td {{site.organizationalStructure}}
            td {{site.economicInterest}}
            td {{site.operatingPolicy}}
            td {{site.accountingTreatment}}
            td {{site.percentOwned}} %
            td
                button(type="button", title="{{'SITE_MANAGER_EDIT_SITE_BUTTON' | translateText}}", ng-click="editOrCreateSite(site)", class="edit_icon glyphicon glyphicon-pencil")

            td
                input(  ng-hide="isLoading[0][site]=== true",
                        type="checkbox",
                        ng-model="isPeriodChecked[0][site.id]",
                        ng-click="assignPeriodToSite(0,site)")
                img(src='/assets/images/modal-loading.gif',ng-show="isLoading[0][site]=== true")
            td
                input(  ng-hide="isLoading[1][site]=== true",
                        type="checkbox",
                        ng-model="isPeriodChecked[1][site.id]",
                        ng-click="assignPeriodToSite(1,site)")
                img(src='/assets/images/modal-loading.gif',ng-show="isLoading[1][site]=== true")






    button.button.add(type="button", ng-click="editOrCreateSite()",ng-bind-html="'SITE_MANAGER_ADD_SITE_BUTTON' | translateText")