.loginBackground
    .router-bar
        .awac_logo

    .registrationFrame(ng-enter="enterEvent()")
        select(ng-options="l.value as l.label for l in $root.languages",ng-model="$root.language",style="float:right")
        tabset
            tab.tab-color-lightgreen(active="tabActive[0]")
                tab-heading
                    span(ng-bind-html="'USER_REGISTRATION' | translate")
                div
                    div(class="field_form")
                        mm-awac-modal-field-text(ng-info="fields.loginInfo")
                        mm-awac-modal-field-text(ng-info="fields.passwordInfo")
                        mm-awac-modal-field-text(ng-info="fields.lastNameInfo")
                        mm-awac-modal-field-text(ng-info="fields.firstNameInfo")
                        mm-awac-modal-field-text(ng-info="fields.emailInfo")


                    div(ng-hide="isLoading === true")

                        button.button(
                        type="button",
                        class="btn btn-primary",
                        ng-bind-html="'USER_REGISTER_BUTTON' | translate",
                        ng-click="send()",
                        ng-disabled="!connectionFieldValid()")

                    img(ng-show="isLoading === true",src="/assets/images/modal-loading.gif")