div
    .menu_close(ng-click="toForm()")
    h1(ng-bind-html="'USER_MANAGER_TITLE' | translate")

    .element
        button.button.add(type="button",ng-click="inviteUser()", ng-show="true",ng-bind-html="'USER_MANAGER_INVIT_USER' | translate")
        table.user_table
            tr.user_table_header
                td(ng-bind-html="'NAME' | translate")
                td(ng-bind-html="'USER_MANAGER_ADMINISTRATOR' | translate",ng-hide="$root.instanceName==='verification'")
                td(ng-bind-html="'STATUS' | translate",ng-show="$root.instanceName==='verification'")
                td(ng-bind-html="'USER_MANAGER_ACTIF' | translate")
            tr(ng-repeat="user in getUserList()", ng-class="{user_deleted : user.isActive === false}")
                td {{user.firstName}} {{user.lastName}} ({{user.email}})

                td(ng-hide="$root.instanceName==='verification'")
                    input(
                        ng-hide="isLoading['admin'][user.email]=== true",
                        type="checkbox",
                        ng-model="user.isAdmin",
                        ng-click="isAdminUser(user)"
                        ng-disabled="getMyself().isAdmin === false || getMyself().email === user.email || user.isActive == false")
                    img(src='/assets/images/modal-loading.gif',
                        ng-show="isLoading['admin'][user.email] === true")
                td(ng-show="$root.instanceName==='verification'")
                    select(
                        ng-hide="isLoading['admin'][user.email]=== true",
                        ng-options='l.id as l.label | translateText for l in statusesForVerification',
                        ng-change="changeStatusForVerification(user)",
                        ng-model='user.tempStatus',
                        ng-disabled="getMyself().isAdmin === false || getMyself().email === user.email || user.isActive == false")
                    img(src='/assets/images/modal-loading.gif',
                        ng-show="isLoading['admin'][user.email] === true")

                td(ng-class="{is_admin : getMyself().isAdmin === true && getMyself().email !== user.email}")
                    .button_delete(ng-click="activeUser(user)",
                                    ng-hide="isLoading['isActive'][user.email]=== true")
                    img(src='/assets/images/modal-loading.gif',
                        ng-show="isLoading['isActive'][user.email] === true")
