.loginBackground
    .router-bar
        .awac_logo

    .registrationFrame(ng-enter="enterEvent()")
        select(ng-options="l.value as l.label for l in $root.languages",ng-model="$root.language",style="float:right")
        tabset
            tab.tab-color-lightgreen(active="tabActive[0]")
                tab-heading
                    span(ng-bind-html="'VERIFICATION_REGISTRATION' | translate")
                div
                    div(class="field_form")
                        mm-awac-modal-field-text(ng-info="fields.firstNameInfo")
                        mm-awac-modal-field-text(ng-info="fields.lastNameInfo")
                        mm-awac-modal-field-text(ng-info="fields.emailInfo")
                        mm-awac-modal-field-text(ng-info="fields.identifierInfo")
                        mm-awac-modal-field-text(ng-info="fields.passwordInfo")
                        mm-awac-modal-field-text(ng-info="fields.passwordConfirmInfo").field_form_separator
                        mm-awac-modal-field-text(ng-info="fields.organizationNameInfo").field_form_separator
                        .field_row
                            .field_cell(ng-bind-html="'REGISTRATION_AGREEMENT_VALIDATION' | translateText")
                            .field_cell
                                div
                                    input(
                                    type="checkbox",
                                    style="width: 18px;height: 18px;",
                                    ng-model="fields.agreementValidation.isValid")
                                    button.button(
                                    type="button",
                                    class="btn btn-primary",
                                    ng-bind-html="'REGISTRATION_AGREEMENT_CONSULTATION' | translate",
                                    ng-click="displayAgreement()")
                            .field_cell
                                img(ng-show='fields.agreementValidation.isValid == true', src='/assets/images/field_valid.png')
                                .error_message(ng-hide='fields.agreementValidation.isValid == true')
                                    img(src='/assets/images/field_invalid.png')
                                    div(ng-bind-html="'ACCEPT_AGREEMENT' | translateText")

                        div(ng-hide="isLoading")

                            button.button(
                            type="button",
                            class="btn btn-primary",
                            ng-bind-html="'REGISTRATION_BUTTON' | translate",
                            ng-click="registration()",
                            ng-disabled="!allFieldValid()")

                        img(ng-show="isLoading",src="/assets/images/modal-loading.gif")
