// Modal
.modal(id="modalLogin",tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true",ng-enter="send()")
    .modal-dialog
        .modal-content
            .modal-header
                //button.button(type="button",class="close",data-dismiss="modal")
                    span(aria-hidden="true") &times;<span
                    span(class="sr-only") Close

                h4(class="modal-title",id="myModalLabel") Login

            .modal-body
                .field_form

                    mm-awac-modal-field-text(ng-info="loginInfo")
                    mm-awac-modal-field-text(ng-info="passwordInfo")
            .modal-footer

                div(ng-hide="isLoading")
                    //button.button(type="button",class="btn btn-default",data-dismiss="modal") Close

                    button.button(type="button",
                    class="btn btn-primary",
                    ng-click="send();",
                    ng-disabled="!allFieldValid()",
                    ng-enabled="allFieldValid()")
                        | Login

                    button.button(type="button",
                    class="btn btn-primary",
                    ng-click="test();",
                    ng-disabled="!allFieldValid()",
                    ng-enabled="allFieldValid()")
                        | test

                img(ng-show="isLoading",src="/assets/images/modal-loading.gif")