.chart-legend

    //
        span {{ ngModel.reportLines }}

    div(ng-show="(ngModel.reportLines | filter:{color: '!!'}).length == 0")
        span(ng-bind-html="'RESULTS_LEGENDS_NODATA' | translate")

    table(ng-hide="(ngModel.reportLines | filter:{color: '!!'}).length == 0")
        thead(ng-show="ngModel.rightPeriod != null")
            tr
                th
                th
                th(colspan="2")
                    span.period-header(style="color: {{ {false: ngModel.leftColor, true: ''}[getMode()!='numbers'] }}; border-bottom-color: {{ {false: ngModel.leftColor, true: ''}[getMode()!='numbers'] }}") {{ngModel.leftPeriod}}
                th(colspan="2")
                    span.period-header(style="color: {{ {false: ngModel.rightColor, true: ''}[getMode()!='numbers'] }}; border-bottom-color: {{ {false: ngModel.rightColor, true: ''}[getMode()!='numbers'] }}") {{ngModel.rightPeriod}}
        tbody
            tr(ng-repeat="line in getReportLines()")
                td
                    span.circled-number(ng-show="getMode()=='numbers' && getNumber(line) != null") {{ getNumber(line) }}
                    span.chart-legend-bullet-color(ng-hide="getMode()=='numbers'", style="background: {{ line.color }}")

                td
                    span(ng-bind-html="line.indicatorName | translate")

                td.align-right.data-cell(style="color: {{ {false: ngModel.leftColor, true: ''}[getMode()!='numbers'] }}")
                    span {{ (line.leftScope1Value + line.leftScope2Value + line.leftScope3Value + line.leftOutOfScopeValue) | numberToI18NRoundedOrFullIfLessThanOne }}&nbsp;tCO2e
                td.align-right.data-cell.opacity-50(style="color: {{ {false: ngModel.leftColor, true: ''}[getMode()!='numbers'] }}")
                    span {{ line.leftPercentage | numberToI18N }}&nbsp;%&nbsp;

                td.align-right.data-cell(ng-show="ngModel.rightPeriod != null", style="color: {{ {false: ngModel.rightColor, true: ''}[getMode()!='numbers'] }}")
                    span {{ (line.rightScope1Value + line.rightScope2Value + line.rightScope3Value + line.rightOutOfScopeValue) | numberToI18NRoundedOrFullIfLessThanOne }}&nbsp;tCO2e
                td.align-right.data-cell.opacity-50(ng-show="ngModel.rightPeriod != null", style="color: {{ {false: ngModel.rightColor, true: ''}[getMode()!='numbers'] }}")
                    span {{ line.rightPercentage | numberToI18N }}&nbsp;%&nbsp;

    br(ng-show="getMode()=='numbers'")
    br(ng-show="getMode()=='numbers'")

    table(ng-show="getMode()=='numbers' && !isSimple()")
        tr
            td(ng-bind-html="'SCOPE_1' | translate")
            td
                span.chart-legend-bullet-color(style="background: {{ ngModel.leftScope1Color }}")
            td(ng-show="ngModel.rightPeriod != null")
                span.chart-legend-bullet-color(style="background: {{ ngModel.rightScope1Color }}")
        tr
            td(ng-bind-html="'SCOPE_2' | translate")
            td
                span.chart-legend-bullet-color(style="background: {{ ngModel.leftScope2Color }}")
            td(ng-show="ngModel.rightPeriod != null")
                span.chart-legend-bullet-color(style="background: {{ ngModel.rightScope2Color }}")
        tr
            td(ng-bind-html="'SCOPE_3' | translate")
            td
                span.chart-legend-bullet-color(style="background: {{ ngModel.leftScope3Color }}")
            td(ng-show="ngModel.rightPeriod != null")
                span.chart-legend-bullet-color(style="background: {{ ngModel.rightScope3Color }}")
