.verification
    .menu-verification
        .list-request
            table.admin-table-import-bad.table(ng-table='tableParams')
                tr(ng-repeat='request in $data',
                ng-click="$parent.selectRequest(request)",
                ng-class="{'selected': $parent.requestSelected.id == request.id}")
                    td(data-title="'ORGANIZATION' | translateText")
                        | {{request.organizationCustomer.name}}
                    td(data-title="'CALCULATOR_TYPE'| translateText", sortable="'organizationCustomer.interfaceName'")
                        | {{request.organizationCustomer.interfaceName}}
                    td(data-title="'SITE_PRODUCT'| translateText", sortable="'scope.name'")
                        | {{request.scope.name}}
                    td(data-title="'SITE_MANAGER_EVENT_PERIOD'| translateText", sortable="'period.label'")
                        | {{request.period.label}}
                    td(data-title="'CONTACT'| translateText", sortable="'contact.lastName'")
                        | {{request.contact.firstName}} {{request.contact.lastName}} {{request.contactPhoneNumber}}
                    td(data-title="'COMMENT'| translateText")
                        | {{request.comment}}
                    td(data-title="'STATUS'| translateText", sortable="'status'")
                        | {{request.status | translateText}}

    .data_menu(ng-hide="requestSelected === null")
        .data_date_compare
            button.button.verification(type="button",
            ng-click="consultEvent()",
            ng-bind-html="'CONSULT_ORGANIZATION_EVENT' | translate"
            )
        .big_separator
        .data_date_compare
            div(ng-bind-html="'SURVEY_INTERFACE_COMPARE_TO' | translate")
            select(ng-options='p.key as p.label for p in periodsForComparison', ng-model='$root.periodToCompare')
        .big_separator
        .data_date_compare
            button.button.verification(type="button",
            ng-click="isDisabled || finalizeVerification()",
            ng-bind-html="'FINALIZE_VERIFICATION_BUTTON' | translate",
            ng-disabled="verificationFinalization.finalized != true"
            )

    .injectFormMenu
    .injectForm
