.field_row(ng-hide="getInfo().hidden === true")
    div(ng-click="logField()",ng-bind-html='getInfo().fieldTitle | translate')
    div
        .field_error_message_flash(ng-show="errorMessage.length>0")
            div(ng-bind-html='errorMessage | translate')
            img(src='/assets/images/question_field_error_message_icon_arrow.png')
        input(  type='{{fieldType}}',
            ng-disabled='getInfo().disabled',
            ng-model='getInfo().field',
            numbers-only="{{getInfo().numbersOnly}}",
            ng-class="{input_number: getInfo().numbersOnly === 'integer' || getInfo().numbersOnly === 'double'}"
            placeholder='{{getInfo().placeholder | translateText}}',
            focus-me="getInfo().focus()")
    div
        div(ng-if='isValidationDefined')
            img(ng-if='!hideIsValidIcon', ng-show='getInfo().isValid', src='/assets/images/field_valid.png')
            .error_message(ng-hide='getInfo().isValid')
                img(src='/assets/images/field_invalid.png')
                div(ng-bind-html='getInfo().validationMessage | translate')
        div(ng-transclude)



