div.verification_manage
    span
        h1 Drivers

    table.actions-table
        tr
            th Nom du driver
            th Caculateur(s)
            th Valeurs
        tr(ng-repeat="driver in drivers")
            td(ng-bind-html="driver.name | translate")
            td
                div(ng-repeat="calculator in driver.calculatorNames") {{calculator}}
            td
                div(ng-repeat="value in driver.driverValues")
                    div(style="width:50%;display:inline-block") A partir de
                        select(
                        ng-options='p.key as p.label for p in getPeriod(driver,value)',
                         ng-disabled="value.fromPeriodKey == '2000'"
                        ng-model="value.fromPeriodKey")
                    div(style="display:inline-block") Valeur
                        input(ng-model="value.defaultValue",
                        ng-attr-numbers-only="{{driver.expectedValueType}}",
                        ng-click="wasEdited()")
                    div(style="display:inline-block")
                        button.button(type="button",ng-click="remove(driver,value.tempId)",
                        ng-hide="value.fromPeriodKey == '2000'") supprimer
                button.button(type="button",ng-click="addValue(driver)") Ajouter une valeur
    button.button(type="button",ng-click="save()") Sauver les modifications
    button.button(type="button",ng-click="orderDriverValues()") Trier les valeurs par date
