div.verification_manage
    span
        h1 Information sur les calculateurs

    table.table
        tr
            th
            th(ng-repeat="(key,info) in data",style="width:15%;text-align:center") {{key}}

        tr
            th Français
            td(ng-repeat="(key,info) in data",style="text-align:center")
                span(style="color: darkgreen", ng-show="info.frEnabled") Activé
                span(style="color: darkred", ng-hide="info.frEnabled") Désactivé
        tr
            th Néerlandais
            td(ng-repeat="(key,info) in data",style="text-align:center")
                span(style="color: darkgreen", ng-show="info.nlEnabled") Activé
                span(style="color: darkred", ng-hide="info.nlEnabled") Désactivé
                button.button(type="button", ng-click="toggleLanguageEnabled(key,'nl')")
                    i.fa.fa-exchange

        tr
            th Anglais
            td(ng-repeat="(key,info) in data",style="text-align:center")
                span(style="color: darkgreen", ng-show="info.enEnabled") Activé
                span(style="color: darkred", ng-hide="info.enEnabled") Désactivé
                button.button(type="button", ng-click="toggleLanguageEnabled(key,'en')")
                    i.fa.fa-exchange


        tr
            th Nombre d'organisations enregistré
            td(ng-repeat="(key,info) in data",style="text-align:center") {{info.total}}

        tr
            th Nombre d'organisations partageant leurs données
            td(ng-repeat="(key,info) in data",style="text-align:center") {{info.shareData}}
        tr
            th Nombre de sites
            td(ng-repeat="(key,info) in data",style="text-align:center")
                div(ng-show="info.sites > 0 ") {{info.sites}}
        tr
            th Nombre d'évènements
            td(ng-repeat="(key,info) in data",style="text-align:center")
                div(ng-show="info.products > 0 ") {{info.products}}
        tr
            th Nombre de bilans cloturés
            td(ng-repeat="(key,info) in data")
                table.actions-table
                    tr(ng-repeat="(key,value) in info.closedForm")
                        td {{key}}
                        td {{value}}
        tr
            th Envoye d'emails
            td(ng-repeat="(key,info) in data",style="text-align:center")
                button.button(
                type="button",
                ng-click="sendEmail(key,false)",
                ng-show="info.total > 0") Envoyer à toutes les organisations
                br
                br
                button.button(
                type="button",
                ng-click="sendEmail(key,true)",
                ng-show="info.shareData > 0") Envoyer uniquement aux organisation partageant leur données