div
    div(ng-hide='$root.hideHeader()')
        .survey-header
            // user block
            table.survey-header-option
                tr
                    td(rowspan=2)
                        .wallonie_logo
                    td(rowspan=2)
                        a.awac_logo(href="http://www.awac.be", target="_blank")
                    td.wide.align-left
                        .calculateur_type(ng-bind-html='\'TITLE_ENTERPRISE\' | translate', ng-if="$root.instanceName == 'enterprise'")
                        .calculateur_type(ng-bind-html='\'TITLE_MUNICIPALITY\' | translate', ng-if="$root.instanceName == 'municipality'")
                        .calculateur_type(ng-bind-html='\'TITLE_HOUSEHOLD\' | translate', ng-if="$root.instanceName == 'household'")
                        .calculateur_type(ng-bind-html='\'TITLE_EVENT\' | translate', ng-if="$root.instanceName == 'event'")
                        .calculateur_type(ng-bind-html='\'TITLE_LITTLE_EMITTER\' | translate', ng-if="$root.instanceName == 'littleemitter'")

                    td
                        select.language-chooser(ng-options='l.value as l.label for l in $root.languages', ng-model='$root.language')
                    td
                        .survey-interface-management(ng-bind-html="'SURVEY_INTERFACE_MANAGEMENT' | translate")
                    td
                        .login-info
                            .connected(ng-show='$root.currentPerson!=null')
                                span(ng-bind-html='\'WELCOME\' | translate')
                                | ,
                                span.username {{$root.currentPerson.firstName}} {{$root.currentPerson.lastName}}
                            .not-connected(ng-show='$root.currentPerson==null') Your are currently not connected
                tr
                    td
                        .entreprise_name {{ $root.organizationName }}

                    td
                        button.button.confidentiality(
                        type='button',
                        ng-bind-html="'SURVEY_INTERFACE_CONFIDENTIALITY' | translate",
                        ng-click="$root.showConfidentiality()")
                        button.button.help(
                        type='button',
                        ng-bind-html="'SURVEY_INTERFACE_ASSISTANCE' | translate",
                        ng-click="$root.showHelp()")
                    td
                        //  organization manager button => for all calculator
                        button.button.user_manage(
                        type='button',
                        ng-bind-html='\'ORGANIZATION_MANAGER_BUTTON\' | translate',
                        ng-click='isDisabled || $root.nav(\'/organization_manager\')',
                        ng-class='{\'selected\': isMenuCurrentlySelected(\'/organization_manager\') == true}',
                        ng-disabled='$root.currentPerson.isAdmin === false')
                        //  site manager button => only for enterprise
                        button.button.user_manage(
                        ng-show="$root.instanceName == 'enterprise'"
                        type='button',
                        ng-bind-html='\'SITE_MANAGER_BUTTON\' | translate',
                        ng-click='isDisabled || $root.nav(\'/site_manager\')',
                        ng-class='{\'selected\': isMenuCurrentlySelected(\'/site_manager\') == true}',
                        ng-hide="$root.instanceName == 'household'",
                        ng-disabled='$root.currentPerson.isAdmin === false')
                        //  product manager button => only for event
                        button.button.user_manage(
                        ng-show="$root.instanceName == 'event'"
                        type='button',
                        ng-bind-html='\'EVENT_MANAGER_BUTTON\' | translate',
                        ng-click='isDisabled || $root.nav(\'/product_manager\')',
                        ng-class='{\'selected\': isMenuCurrentlySelected(\'/product_manager\') == true}',
                        ng-disabled='$root.currentPerson.isAdmin === false')
                        // user manager button => not for littleemitter or household
                        button.button.user_manage(
                        ng-hide="$root.instanceName == 'household' || $root.instanceName == 'littleemitter'"
                        type='button',
                        ng-bind-html='\'USER_MANAGER_BUTTON\' | translate',
                        ng-click='isDisabled || $root.nav(\'/user_manager\')',
                        ng-class='{\'selected\': isMenuCurrentlySelected(\'/user_manager\') == true}',
                        ng-disabled='$root.currentPerson.isAdmin === false')
                    td
                        //  user data button
                        button.button.user_manage(
                        type='button',
                        ng-bind-html='\'USER_DATA_BUTTON\' | translate',
                        ng-click='$root.nav(\'/user_data\')',
                        ng-class='{\'selected\': isMenuCurrentlySelected(\'/user_data\') == true}'
                        )
                        // logout button
                        button.button.user_manage(
                        ng-show='$root.currentPerson!=null',
                        type='button',
                        ng-click='$root.logout();',
                        ng-bind-html='\'LOGOUT_BUTTON\' | translate'
                        )
        .data_menu(ng-show='displayLittleMenu===true || displayMenu===true')
            .data_date
                div(ng-bind-html='\'PERIOD_DATA\' | translate')
                select(ng-options='p.key as p.label for p in $root.availablePeriods', ng-model='$root.periodSelectedKey')

            //select site => only for entreprise
            //select site => only for event
            .big_separator(ng-show="$root.instanceName == 'enterprise'")
            .data_date_compare(ng-show="$root.instanceName == 'enterprise' || $root.instanceName == 'event'")
                div(ng-bind-html="'SURVEY_INTERFACE_SELECTED_SITE' | translate",ng-show="$root.instanceName == 'enterprise'")
                div(ng-bind-html="'SURVEY_INTERFACE_SELECTED_PRODUCT' | translate",ng-show="$root.instanceName == 'event'")
                select(ng-options='s.id as s.name for s in $root.mySites', ng-model='$root.scopeSelectedId')

            .big_separator
            .data_date_compare
                div(ng-bind-html="'SURVEY_INTERFACE_COMPARE_TO' | translate")
                select(ng-options='p.key as p.label for p in periodsForComparison', ng-model='$root.periodToCompare')
            .big_separator

            //verification and closed => only for enterprise and municipality
            div(ng-show="$root.currentPerson.isAdmin == true && ($root.instanceName == 'municipality' || $root.instanceName == 'enterprise')")

                //verification button => start verification
                button.button.verification(
                type='button',
                ng-bind-html="'ASK_VERIFICATION' | translate",
                ng-click="isDisabled || requestVerification()",
                ng-show="!$root.closedForms && $root.getVerificationRequestStatus()==null",
                ng-disabled="$root.closeableForms !== true")
                //re-submit => is case of correction
                button.button.verification(
                type='button',
                ng-bind-html="'VERIFICATION_RE_SUBMIT_BUTTON' | translate",
                ng-click="isDisabled || resubmitVerification()",
                ng-show="$root.getVerificationRequestStatus()==='VERIFICATION_STATUS_CORRECTION'",
                ng-disabled="$root.closeableForms !== true")
                //consult verificaiont => is verified
                button.button.verification(
                type='button',
                ng-bind-html="'SURVEY_INTERFACE_VERIFICATION_CONSULT' | translate",
                ng-click="isDisabled || consultVerification()",
                ng-show="$root.getVerificationRequestStatus()==='VERIFICATION_STATUS_WAIT_CUSTOMER_VERIFIED_CONFIRMATION'")
                //accept / reject validation
                button.button.verification(
                type='button',
                ng-bind-html="'SURVEY_INTERFACE_VERIFICATION_CONFIRM_VERIFIER' | translate",
                ng-click="isDisabled || confirmVerifier()",
                ng-show="$root.getVerificationRequestStatus()==='VERIFICATION_STATUS_WAIT_CUSTOMER_CONFIRMATION'")
                //cancel verification => other case
                button.button.verification(
                type='button',
                ng-bind-html="'VERIFICATION_CANCEL_BUTTON' | translate",
                ng-click="isDisabled || cancelVerification()",
                ng-show="$root.getVerificationRequestStatus()!=null && $root.getVerificationRequestStatus()!='VERIFICATION_STATUS_WAIT_CUSTOMER_VERIFIED_CONFIRMATION' && $root.getVerificationRequestStatus()!='VERIFICATION_STATUS_VERIFIED' && $root.getVerificationRequestStatus()!='VERIFICATION_STATUS_CORRECTION' && $root.getVerificationRequestStatus()!='VERIFICATION_STATUS_WAIT_CUSTOMER_CONFIRMATION'")
                //consult verification faild comment
                button.button.verification(type="button",
                ng-click="isDisabled || consultVerificationFinalComment()",
                ng-bind-html="'VERIFICATION_FINALIZATION_CONSULT_COMMENT' | translate",
                ng-show="$root.getVerificationRequestStatus()==='VERIFICATION_STATUS_CORRECTION' "
                )

                button.button.verification(type='button',
                ng-click="isDisabled || $root.closeForms()",
                ng-bind-html='\'UNCLOSING_FORM\' | translate',
                ng-show="$root.closedForms")

                button.button.verification(type='button',
                ng-click="isDisabled || $root.closeForms()",
                ng-bind-html='\'CLOSING_FORM\' | translate',
                ng-show="!$root.closedForms && $root.getVerificationRequestStatus()==null",
                ng-disabled="$root.closeableForms !== true")

            .big_separator
            .data_save
                .last_save(ng-hide='lastSaveTime===null')
                    span(ng-bind-html='\'LAST_SAVE\' | translate')
                    br
                    | {{lastSaveTime | date: 'medium' }}
                .small_separator
                .save_button
                    button.button.save(type='button', ng-click='save()', ng-bind-html='\'SAVE_BUTTON\' | translate')

        .inject-menu

    div(class="{{getClassContent()}}",ng-view)
    .footer
