ng-virtual
    .element
        .element_header
            .title(ng-bind-html="getTitleCode() | translate")
            .title_arrow
        .element_sidebar(ng-show="$root.instanceName === 'enterprise' || $root.instanceName === 'municipality' || $root.instanceName === 'event'")
            .block_status
                .lock_status(ng-click="lock()", ng-class="getLockClass()")
                    div(ng-show="getLocker() != null", ng-bind-html="'LOCK_BY' | translateWithVars: [getLockerName()] ")
                .validate_status(ng-click="valide()", ng-class="getValidateClass()")
                    div(ng-show="getValidator() != null", ng-bind-html="'VALIDATE_BY' | translateWithVars: [getValidatorName()] ")
                .verified( ng-click="isDisabled || displayVerificationRejectedMessage()", ng-class="getVerificationClass(false,true)", ng-show="$root.instanceName == 'enterprise' || $root.instanceName == 'municipality'")
                    div(ng-show="getVerifier() != null", ng-bind-html="'VERIFIED_BY' | translateWithVars: [getVerifierName()] ")
        .element_sidebar(ng-show="$root.instanceName  === 'verification'")
            .block_status
                .verification_status_approval(
                ng-click="isDisabled || verification(true)",
                ng-class="getVerificationClass(true)",
                ng-hide="isVerificationDisabled() === true")
                    div(ng-show="getVerifier() != null", ng-bind-html="'VERIFIED_BY' | translateWithVars: [getVerifierName()] ")
                .verification_status_reject(
                ng-click="isDisabled || verification(false)",
                ng-class="getVerificationClass(false)",
                ng-hide="isVerificationDisabled()=== true")
                    div(ng-show="getVerifier() != null", ng-bind-html="'VERIFIED_BY' | translateWithVars: [getVerifierName()] ")
                .verified(
                ng-class="getVerificationClass(false,true)",
                ng-click="isDisabled || displayVerificationRejectedMessage()",
                ng-show="isVerificationDisabled()=== true")
                    div(ng-show="getVerifier() != null", ng-bind-html="'VERIFIED_BY' | translateWithVars: [getVerifierName()] ")
        .element_content
            div(ng-class="getMode()", ng-transclude)