.modal.create_or_edit_action(ng-enter="save()",ng-escape="close()")
    .modal-dialog
        .modal-content

            .modal-header
                button.button(type="button",ng-click="close()")
                    span(aria-hidden="true") &times;
                    span(class="sr-only", ng-bind-html="'CLOSE_BUTTON' | translate")
                h4(class="modal-title",id="myModalLabel", ng-bind-html="(editMode ? 'EDIT_REDUCTION_ACTION_FORM_TITLE' : 'CREATE_REDUCTION_ACTION_FORM_TITLE') | translate")

            .modal-body
                .field_form

                    // Interface type (select): 'calculator'
                    .field_row
                        .field_cell(ng-click="logField()")
                            span(ng-bind-html='interfaceTypeKey.fieldTitle | translate')
                        .field_cell.field_wide
                            select(ng-options="i.key as i.label for i in interfaceTypeOptions", ng-model="interfaceTypeKey.field")

                    // Title (text)
                    mm-awac-modal-field-text(ng-info="title").field_form_separator

                    // Type (radio): 'GES Reduction' or 'Better Method'
                    .field_row.field_form_separator
                        .field_cell(ng-click="logField()")
                            span(ng-bind-html='typeKey.fieldTitle | translate')
                        .field_cell.field_wide
                            div
                                input(type="radio", ng-model="typeKey.field", name="{{typeKey.inputName}}", value="1")
                                span &nbsp;
                                span(ng-bind-html="'REDUCTION_ACTION_TYPE_REDUCING_GES' | translate")
                                .field_info
                                    .field_info_popup(ng-bind-html="'REDUCTION_ACTION_TYPE_REDUCING_GES_DESC' | translate")
                            div
                                input(type="radio", ng-model="typeKey.field", name="{{typeKey.inputName}}", value="2")
                                span &nbsp;
                                span(ng-bind-html="'REDUCTION_ACTION_TYPE_BETTER_MEASURE' | translate", ng-class="{selected: typeKey.field == '2'}")
                                .field_info
                                    .field_info_popup(ng-bind-html="'REDUCTION_ACTION_TYPE_BETTER_MEASURE_DESC' | translate")

                    // Reducing objectives (reduction action - indicator associations)
                    .field_row.field_form_separator
                        .field_cell
                            span(ng-bind-html="'REDUCTION_ACTION_ADVICE_BASE_INDICATORS_FIELD_TITLE' | translate")
                        .field_cell.field_wide
                            .wrapper_table
                                .wrapper_row
                                    .wrapper_cell(style="width: 100%;vertical-align: top;")
                                        select(ng-options="bi.key as bi.key + ' - ' + bi.label for bi in indicatorOptions", ng-model="indicatorAssociationToAdd.baseIndicatorKey", ng-disabled="typeKey.field == '2'")
                                    .wrapper_cell(style="white-space: nowrap; vertical-align: top; width: 90px;min-width: 90px;")
                                        input(type='text', ng-model='indicatorAssociationToAdd.percent', ng-disabled="typeKey.field == '2'", style="width: 60px;")
                                        span &nbsp;%&nbsp;
                                    .wrapper_cell(style="vertical-align: top;")
                                        button.button(type="button", ng-click="addIndicatorAssociation()", ng-disabled="!indicatorAssociationToAdd.isValid()", style="margin:0; padding:0; min-height:22px; padding-right:5px; padding-left:5px; border-radius:2px;")
                                            span.fa.fa-plus-circle
                        .field_cell
                            div
                                .error_message(ng-hide='(typeKey.field == "2") || (indicatorAssociations.length > 0)')
                                    img(src='/assets/images/field_invalid.png')
                                    div(ng-bind-html="'REDUCTION_ACTION_ADVICE_NO_REDUCTION_OBJECTIVES_ERROR' | translate")

                    .field_row(ng-show="indicatorAssociations.length > 0")
                        .field_cell
                            span &nbsp
                        .field_cell.field_wide
                            .wrapper_table(style="margin-top:5px;margin-bottom: 10px;")
                                .wrapper_row(ng-repeat="bia in indicatorAssociations", style="font-weight:bold;")
                                    .wrapper_cell(style="vertical-align:middle")
                                        button.button(type="button", ng-click="removeIndicatorAssociation(bia.baseIndicatorKey)", style="margin:0; padding:0; min-height:22px; padding-right:5px; padding-left:5px; border-radius:2px;")
                                            span.fa.fa-remove.fa-1g
                                    .wrapper_cell(style="vertical-align:middle; padding-left:10px; padding-right:10px; width:100%;") {{ getBaseIndicatorLabel(bia.baseIndicatorKey) }}
                                    .wrapper_cell(style="vertical-align:middle; text-align: right;") {{ (bia.percent| numberToI18N) + "&nbsp;%" }}

                    // Informations to the user
                    mm-awac-modal-field-text(ng-info="physicalMeasure").field_form_separator
                    mm-awac-modal-field-text(ng-info="webSite").field_form_separator
                    mm-awac-modal-field-text(ng-info="responsiblePerson")

                    // Cost & Benefits
                        mm-awac-modal-field-text(ng-info="financialBenefit").field_form_separator
                            div(style="line-height: 22px;") euros
                        mm-awac-modal-field-text(ng-info="investmentCost")
                            div(style="line-height: 22px;") euros
                        mm-awac-modal-field-text(ng-info="expectedPaybackTime")

                    // Comments (only visible to the creator)
                    mm-awac-modal-field-text(ng-info="comment").field_form_separator

                    // Attachments (only visible to the creator)
                    .field_row.field_form_separator
                        .field_cell(ng-click="logField()")
                            span(ng-bind-html="'REDUCTION_ACTION_ATTACHMENTS_FIELD_TITLE' | translate")
                        .field_cell.field_wide
                            .document-question-progress-percentage(ng-show="inDownload=== true && percent != 100") {{percent}} %
                            div(ng-show="inDownload=== true && percent == 100",ng-bind-html="'REDUCTION_ACTION_UPLOAD_IN_TREATMENT' | translate")
                            input(type='file', ng-file-select='onFileSelect($files)')
                            table(style="margin-top: 10px;")
                                tr(ng-repeat="f in files")
                                    td(style="padding: 5px;")
                                        button.button(type="button", ng-click="download(f.id)")
                                            span.fa.fa-download
                                        button.button(type="button", ng-click="removeFile(f.id)")
                                            span.fa.fa-remove
                                        span &nbsp;&nbsp;
                                        b {{ f.name }}

            .modal-footer
                div(ng-hide="isLoading")
                    button.button(type="button",
                    class="btn btn-primary",
                    ng-click="close();",
                    ng-bind-html="'CANCEL_BUTTON' | translate")

                    button.button(type="button",
                    class="btn btn-primary",
                    ng-click="save();",
                    ng-disabled="!allFieldValid()",
                    ng-bind-html="'SAVE_BUTTON' | translate")

                img(ng-show="isLoading",src="/assets/images/modal-loading.gif")
