input.oneelement(   type="text",
                    name="{{ getQuestionCode() }}",
                    ng-model="getAnswer().value",
                    numbers-only="integer",
                    style="text-align:right;",
                    ng-disabled="getDataToCompare()==true || getIsAggregation()===true")