span.twoelement
    input(  type="text",
            ng-model="getAnswer().value",
            name="{{ getQuestionCode() }}",
            numbers-only="double",
            style="text-align:right;",
            ng-disabled="getDataToCompare()==true || getIsAggregation()===true")
    select( ng-options="p.id as p.name for p in getUnits()",
            ng-model="getAnswer().unitId",
            name="{{ getQuestionCode() }}_UNIT",
            ng-disabled="getDataToCompare()==true || getIsAggregation()===true")