div
    div(ng-hide='$root.hideHeader()')
        .survey-header
            // user block
            table.survey-header-option
                tr
                    td(rowspan=2)
                        .wallonie_logo
                    td(rowspan=2)
                        .awac_logo
                    td.wide.align-left
                        .calculateur_type(ng-bind-html='\'TITLE_ADMIN\' | translate')

                    td
                        div
                            select(ng-options='l.value as l.label for l in $root.languages', ng-model='$root.language')
                    td
                        div(ng-bind-html="'SURVEY_INTERFACE_MANAGEMENT' | translate")
                    td
                        div(ng-show='$root.currentPerson!=null')
                            span(ng-bind-html='\'WELCOME\' | translate')
                            | ,
                            span.username {{$root.currentPerson.firstName}} {{$root.currentPerson.lastName}}
                        div(ng-show='$root.currentPerson==null') Your are currently not connected

                tr
                    td
                    td
                        button.button.help(
                        type='button',
                        ng-bind-html="'SURVEY_INTERFACE_ASSISTANCE' | translate",
                        ng-click="$root.showHelp()"
                        )
                    td
                        // user manager button
                        button.button.user_manage(
                        type='button',
                        ng-bind-html='\'USER_MANAGER_BUTTON\' | translate',
                        ng-click='isDisabled || $root.nav(\'/user_manager\')',
                        ng-class='{\'selected\': isMenuCurrentlySelected(\'/user_manager\') == true}',
                        ng-disabled='$root.currentPerson.isAdmin === false')
                    td
                        //  user data button
                        button.button.user_manage(type='button', ng-bind-html='\'USER_DATA_BUTTON\' | translate', ng-click='$root.nav(\'/user_data\')', ng-class='{\'selected\': isMenuCurrentlySelected(\'/user_data\') == true}')
                        // logout button
                        button.button.user_manage(ng-show='$root.currentPerson!=null', type='button', ng-click='$root.logout();', ng-bind-html='\'LOGOUT_BUTTON\' | translate')

        .admin-menu-background
            div.admin-menu
                button.button(
                type="button",
                ng-click='isDisabled || $root.nav(\'/driver\')',
                ng-class='{\'selected\': isMenuCurrentlySelected(\'/driver\') == true}',
                ng-bind-html='\'ADMIN_SURVEY_DRIVER\' | translate')
            div.admin-menu
                button.button(
                type="button",
                ng-click='isDisabled || $root.nav(\'/advice\')',
                ng-class='{\'selected\': isMenuCurrentlySelected(\'/advice\') == true}',
                ng-bind-html='\'REDUCING_ACTION_ADVICES_MENU\' | translate')
            div.admin-menu
                button.button(
                type="button",
                ng-click='isDisabled || $root.nav(\'/translation\')',
                ng-class='{\'selected\': isMenuCurrentlySelected(\'/translation\') == true}') Traduction
            div.admin-menu
                button.button(
                type="button",
                ng-click='isDisabled || $root.nav(\'/average\')',
                ng-class='{\'selected\': isMenuCurrentlySelected(\'/average\') == true}') Moyenne
            div.admin-menu
                button.button(
                type="button",
                ng-click='isDisabled || $root.nav(\'/organization_data\')',
                ng-class='{\'selected\': isMenuCurrentlySelected(\'/organization_data\') == true}') Informations sur les calculateurs
            div.admin-menu
                button.button(
                type="button",
                ng-click='isDisabled || $root.nav(\'/factors\')',
                ng-class='{\'selected\': isMenuCurrentlySelected(\'/factors\') == true}',
                ng-bind-html="'FACTORS' | translate")



    div(class="{{getClassContent()}}",ng-view)
    .footer
