// Modal
.modal(ng-enter="save()",ng-escape="close()")
    .modal-dialog
        .modal-content
            .modal-header
                button.button(type="button",ng-click="close()")
                    span(aria-hidden="true") &times;
                    span(class="sr-only", ng-bind-html="'CLOSE_BUTTON' | translate")
                h4(class="modal-title",id="myModalLabel", ng-bind-html="'PASSWORD_CHANGE_FORM_TITLE' | translate")

            .modal-body
                .field_form
                    mm-awac-modal-field-text(ng-info="oldPasswordInfo")
                    mm-awac-modal-field-text(ng-info="newPasswordInfo")
                    mm-awac-modal-field-text(ng-info="newPasswordInfoRepeat")

                    p(ng-show="errorMessage.length > 0",
                    style="background-color:#ff0000;color:#ffffff;padding:15px") {{errorMessage}}

            .modal-footer

                div(ng-hide="isLoading")
                    button.button(type="button",
                    class="btn btn-primary",
                    ng-click="save();",
                    ng-disabled="!allFieldValid()",
                    ng-bind-html="'SAVE_BUTTON' | translate")

                    button.button(type="button",
                    class="btn btn-primary",
                    ng-click="close();",
                    ng-bind-html="'CANCEL_BUTTON' | translate")

                img(ng-show="isLoading",src="/awac/assets/images/modal-loading.gif")


